# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environment
venv/
ENV/
env/
.venv/

# VSCode settings
.vscode/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Logs
*.log

# IDEs
.idea/
*.sublime-workspace
*.sublime-project

# Python egg files
*.egg-info/
dist/
build/

# Test coverage reports
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/
